.report-header {
	border-bottom: 1px solid #ddd;
}

.report-header-title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 600;
	float: left;
	text-transform: uppercase;
	color: #53be9d;
}

.report-header-rightpanel {
	margin-top: 10px;
	/*margin-bottom: 15px;*/
	float: right;
}

.report-header-btnbar {
	float: left;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 50px;
}

.reportfilter-container {
	width: 300px;
	left: -300px;
	background-color: #FFFFFF;
	z-index: 999;
	position: fixed;
	top: 0;
	bottom: 0;
	border: 1px solid #d2d2d2;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
	/*transform : translate(0, 0);
	transition: all 0.5s linear;*/
}

.reportfilter-container.open {
	left: 0;
}

.reportfiltertoggle-animation {
	transform : translate(0, 0);
	transition: all 0.2s linear;
}

.reportfilter-container .reportfilter-content {
	position: relative;
	height: 100%;
	padding : 20px;
	overflow-y: auto;
}

.reportfilter-container a.reportfilter-toggle {
	background: #FFFFFF;
	color: #1abc9c;
	display: block;
}

.reportfilter-container .reportfilter-toggle {
	position: absolute;
	/*top: 30%;*/
	width: 40px;
	height: 40px;
	right: -40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border: 1px solid #d2d2d2;
	margin-top: -1px;
}

.reportfilter-container .reportfilter-collapsed-toggle {
	text-orientation: upright;
	writing-mode: vertical-rl;
	vertical-align: middle;
	position: absolute;
	/*width: 40px;*/
	height: 100%;
	right: -40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border: 1px solid #e2e0e0;
	margin-top: -1px;
	color: #1abc9c ! important;
	font-weight: 600;
}

.reportfilter-container .reportfilter-collapsed-toggle:hover {
	background: rgba(26,188,156,0.10);
}

.reportfilter-container .reportfilter-close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 7px;
	width: auto;
	z-index: 10;
}

.reportfilter-open {
	top : 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
}

.reportfilter-search {
	position: fixed;
	width: 85%;
	bottom: 0;
	background-color: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
}

div.reportfilter-container:not(.reportfiltertoggle-animation)  div.reportfilter-search {
	width: 18% ! important;
}

/*.reportsearchmsg-container {
	margin: 0 auto 0 40%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 80vh;
	position: relative;
}*/

.reportplaceholder-wrapper {
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 80vh;*/
	height: 100%;
	position: relative;
	line-height: 25;
	text-align: center;
	/*transform : translate(0, 0);
	transition: all 1s linear;*/
}

.reportsearchmsg-message {
	position: absolute;
	top: 50%;
	transform: translate(50%, -50%);
	width: 300px;
	height: 300px;
}

.reportdatacontainer {
	transform : translate(0, 0);
	transition: all 1s linear;
}

.reportdatacontainer-move {
	padding-left : 300px;
	transition: all 1s linear;
}

.reportsearchmsg-move {
	/*transform : translate(45%, 0);
	transition: all 1s linear;*/
}

.reportplaceholder-container {
	background: url("/images/empty-placeholder.png") no-repeat 100px 100px;
	background-size: 150px 150px;
	position: relative;
	left: 45%;
	width: 400px;
	
}

.react-grid-Grid {
	border-top: none;
}

.report-biheader-title {
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}

.report-error-image-box {
	margin: 0 auto 0 35%;
	max-width: 600px;
	padding: 0 20px;
}

.report-error-image {
	position: relative;
	margin: 0;
	padding: 0;
	height: auto;
	max-width: 100%;
	text-align: center;
	background: none;
}

.report-error-text-box {
	margin: 0 auto 0 35%;
	line-height: 1.6em;
	max-width: 600px;
	padding: 0 20px;
	text-align: left;
	word-wrap: break-word;
}

.report-error-text {
	font-size: 16px;
	text-align: center;
}

.react-grid-Main{
	height: 100%;
}

.react-grid-Container{
	height: 100%;
}

/* .react-grid-Grid{
	min-height: 100% !important;
} */

.react-grid-Canvas{
	height: 100% !important;
}
