/*  Desktops & 1281px to higher resolution   */
@media (min-width: 1281px) {
	/*************  affix menu bar *******************/	
	.affixmenubar {
		position: fixed;
		width: calc(75% - 1em);
		height: 45px;
		background-color: #F9F9F9;
		z-index: 5;
		padding-top: 10px;
		padding-bottom: 10px;
		/*left: 15px;*/
	}
	
	.sticky-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: calc(75% - 1em);
		padding: 5px;
		background-color: #F9F9F9;
		box-shadow: -2px 0px 2px #d4d4d4;
		z-index: 2;
	}

	/******************** Navbar ************************/
	.navdropdownmenu::before {
		content: "";
		position: absolute;
		left: 15px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.navdropdownmenu-right::before {
		content: "";
		position: absolute;
		right: 11px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.dropdown-menu.column-2 {
		min-width: 500px;
	}

	.dropdown-menu.column-3, .dropdown-menu.column-4, .dropdown-menu.column-5 {
		min-width: 750px;
	}


	.gs-nav-item-9 column-1 {
		min-width: 300px;
	}

	.gs-nav-item-7 .column-3 {
		left: -180px !important;
	}

	.gs-nav-item-7 .column-3::before {
		left: 200px !important;
	}

	.gs-nav-item-8 .column-3 {
		left: -250px !important;
	}

	.gs-nav-item-8 .column-3::before {
		left: 260px !important;
	}

	.gs-nav-item-9 .column-2, .gs-nav-item-9 .column-3, .gs-nav-item-9 .column-4, .gs-nav-item-9 .column-5 {
		left: -250px !important;
	}

	.gs-nav-item-9 .column-2::before, .gs-nav-item-9 .column-3::before, .gs-nav-item-9 .column-4::before, .gs-nav-item-9 .column-5::before {
		left: 270px !important;
	}

	.custom-nav-link {
		padding: 5px ! important;
		text-align: center;
		line-height: 14px;
	}

	.paddingleft-md-0 {
		padding-left:0px;
	}

	.paddingleft-md-30 {
		padding-left: 30px;
	}

	.text-right-md {
		text-align: right ! important;
	}

	.responsive-form-element .labelclass + .form-control {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .gs-react-select {
		float: left;
		width: 70% !important;
	}

	.responsive-form-element .labelclass + .react-datepicker-wrapper {
		width: 70%;
		float: left;
	}

	.responsive-form-element .labelclass + div > .react-datepicker-wrapper {
		width: 70%;
		float: left;
	}

	.react-datepicker-wrapper > .react-datepicker__input-container {
		width: 100%;
	}

	.react-datepicker-wrapper .form-control {
		width: 100%;
		display: inline-block;
	}

	.responsive-form-element .labelclass + .rdt {
		width: 70%;
		float: left;
	}

	.responsive-form-element .labelclass + .Select {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .Select-control {
		/*font-weight: 600;*/
		color: #000;
		font-size: 14px;
		border-radius: 0px !important;
		border-color: #ced4da;
	}

	.responsive-form-element .labelclass + .customrichtext {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass {
		font-size: 14px;
		cursor: text;
		margin-bottom: 0px;
		/*font-weight: 600;*/
		float: left;
		width: 30%;
	}

	.responsive-form-element .labelclass + .input-group {
		width: 70%;
	}

	.responsive-form-element .labelclass + .address-container {
		float: left;
		width: 70%;
	}
	
	.responsive-form-element .gs-address-pick {
		position: relative;
		display: inline-block;
		margin-left: 30%;
		top: 5px;
	}

	.gs-list-header-view-wrapper {
		width: 50%;
	}
}

/*  Desktops, Laptops  */
@media (min-width: 1025px) and (max-width:1280px) {
	/*************  affix menu bar *******************/	
	.affixmenubar {
		position: fixed;
		width: calc(75% - 1em);
		height: 45px;
		background-color: #F9F9F9;
		z-index: 5;
		/*left: 15px;*/
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.sticky-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: calc(75% - 1em);
		padding: 5px;
		background-color: #F9F9F9;
		box-shadow: -2px 0px 2px #d4d4d4;
		z-index: 2;
	}

	/******************** Navbar ************************/
	.navdropdownmenu::before {
		content: "";
		position: absolute;
		left: 15px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.navdropdownmenu-right::before {
		content: "";
		position: absolute;
		right: 11px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.dropdown-menu.column-2 {
		min-width: 500px;
	}

	.dropdown-menu.column-3, .dropdown-menu.column-4, .dropdown-menu.column-5 {
		min-width: 750px;
	}

	.gs-nav-item-9 column-1 {
		min-width: 300px;
	}

	
	.gs-nav-item-7 .column-3 {
		left: -180px !important;
	}

	.gs-nav-item-7 .column-3::before {
		left: 200px !important;
	}

	.gs-nav-item-8 .column-3 {
		left: -250px !important;
	}

	.gs-nav-item-8 .column-3::before {
		left: 260px !important;
	}

	.gs-nav-item-9 .column-2, .gs-nav-item-9 .column-3, .gs-nav-item-9 .column-4, .gs-nav-item-9 .column-5 {
		left: -500px !important;
	}

	.gs-nav-item-9 .column-2::before, .gs-nav-item-9 .column-3::before, .gs-nav-item-9 .column-4::before, .gs-nav-item-9 .column-5::before {
		left: 520px !important;
	}
	
	.custom-nav-link {
		padding: 5px ! important;
		text-align: center;
		line-height: 14px;
	}

	.paddingleft-md-0 {
		padding-left:0px;
	}

	.paddingleft-md-30 {
		padding-left: 30px;
	}

	.text-right-md {
		text-align: right ! important;
	}

	.responsive-form-element .labelclass + .form-control {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .gs-react-select {
		float: left;
		width: 70% !important;
	}

	.responsive-form-element .labelclass + div > .react-datepicker-wrapper {
		width: 70%;
		float: left;
	}

	.react-datepicker-wrapper > .react-datepicker__input-container {
		width: 100%;
	}

	.react-datepicker-wrapper .form-control {
		width: 100%;
		display: inline-block;
	}

	.responsive-form-element .labelclass + .rdt {
		width: 70%;
		float: left;
	}

	.responsive-form-element .labelclass + .Select {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .Select-control {
		/*font-weight: 600;*/
		color: #000;
		font-size: 14px;
		border-radius: 0px !important;
		border-color: #ced4da;
	}

	.responsive-form-element .labelclass + .customrichtext {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass {
		font-size: 14px;
		cursor: text;
		margin-bottom: 0px;
		/*font-weight: 600;*/
		float: left;
		width: 30%;
	}

	.responsive-form-element .labelclass + .input-group {
		width: 70%;
	}

	.responsive-form-element .labelclass + .address-container {
		float: left;
		width: 70%;
	}
	
	.responsive-form-element .gs-address-pick {
		position: relative;
		display: inline-block;
		margin-left: 30%;
		top: 5px;
	}

	.gs-list-header-view-wrapper {
		width: 50%;
	}
}

@media (min-width: 992px) and (max-width:1024px) {
	.sticky-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: calc(75% - 1em);
		padding: 5px;
		background-color: #F9F9F9;
		box-shadow: -2px 0px 2px #d4d4d4;
		z-index: 2;
	}
}

@media (min-width: 576px) and (max-width:991px) {
	.sticky-footer {
		width: calc(100% - 1em);
	}
}

/*  Tablets  */
@media (min-width: 768px) and (max-width:1024px) {
	/*************  affix menu bar *******************/	
	.affixmenubar {
		position: fixed;
		width: calc(100% - 1em);
		height: 45px;
		background-color: #F9F9F9;
		z-index: 5;
		/*left: 15px;*/
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/******************** Navbar ************************/
	.navdropdownmenu::before {
		content: "";
		position: absolute;
		left: 15px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.navdropdownmenu-right::before {
		content: "";
		position: absolute;
		right: 11px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.dropdown-menu.column-2 {
		min-width: 500px;
	}

	.dropdown-menu.column-3, .dropdown-menu.column-4, .dropdown-menu.column-5 {
		min-width: 750px;
	}

	.gs-nav-item-9 column-1 {
		min-width: 300px;
	}
	
	.gs-nav-item-7 .column-3 {
		left: -180px !important;
	}

	.gs-nav-item-7 .column-3::before {
		left: 200px !important;
	}

	.gs-nav-item-8 .column-3 {
		left: -250px !important;
	}

	.gs-nav-item-8 .column-3::before {
		left: 260px !important;
	}

	.gs-nav-item-9 .column-2, .gs-nav-item-9 .column-3, .gs-nav-item-9 .column-4, .gs-nav-item-9 .column-5 {
		left: -500px !important;
	}

	.gs-nav-item-9 .column-2::before, .gs-nav-item-9 .column-3::before, .gs-nav-item-9 .column-4::before, .gs-nav-item-9 .column-5::before {
		left: 520px !important;
	}

	.custom-nav-link {
		padding: 5px ! important;
		text-align: center;
		line-height: 14px;
	}

	.paddingleft-md-0 {
		padding-left:0px;
	}

	.paddingleft-md-30 {
		padding-left: 30px;
	}

	.text-right-md {
		text-align: right ! important;
	}

	.responsive-form-element .labelclass + .form-control {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .gs-react-select {
		float: left;
		width: 70% !important;
	}

	.responsive-form-element .labelclass + div > .react-datepicker-wrapper {
		width: 70%;
		float: left;
	}

	.react-datepicker-wrapper > .react-datepicker__input-container {
		width: 100%;
	}

	.react-datepicker-wrapper .form-control {
		width: 100%;
		display: inline-block;
	}

	.responsive-form-element .labelclass + .rdt {
		width: 70%;
		float: left;
	}

	.responsive-form-element .labelclass + .Select {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .Select-control {
		/*font-weight: 600;*/
		color: #000;
		font-size: 14px;
		border-radius: 0px !important;
		border-color: #ced4da;
	}

	.responsive-form-element .labelclass + .customrichtext {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass {
		font-size: 14px;
		cursor: text;
		margin-bottom: 0px;
		/*font-weight: 600;*/
		float: left;
		width: 30%;
	}

	.responsive-form-element .labelclass + .input-group {
		width: 70%;
	}

	.responsive-form-element .labelclass + .address-container {
		float: left;
		width: 70%;
	}
	
	.responsive-form-element .gs-address-pick {
		position: relative;
		display: inline-block;
		margin-left: 30%;
		top: 5px;
	}

	.gs-list-header-view-wrapper {
		width: 50%;
	}
}

/*  Tablets (landscape)  */
@media (min-width: 768px) and (max-width:1024px) and (orientation: landscape) {
	/*************  affix menu bar *******************/	
	.affixmenubar {
		position: fixed;
		width: calc(100% - 1em);
		height: 45px;
		background-color: #F9F9F9;
		z-index: 5;
		/*left: 15px;*/
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/******************** Navbar ************************/
	.navdropdownmenu::before {
		content: "";
		position: absolute;
		left: 15px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.navdropdownmenu-right::before {
		content: "";
		position: absolute;
		right: 11px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.dropdown-menu.column-2 {
		min-width: 500px;
	}

	.dropdown-menu.column-3, .dropdown-menu.column-4, .dropdown-menu.column-5 {
		min-width: 750px;
	}

	.gs-nav-item-9 column-1 {
		min-width: 300px;
	}

	.custom-nav-link {
		padding: 5px ! important;
		text-align: center;
		line-height: 14px;
	}

	.paddingleft-md-0 {
		padding-left:0px;
	}

	.text-right-md {
		text-align: right ! important;
	}

	.responsive-form-element .labelclass + .form-control {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .gs-react-select {
		float: left;
		width: 70% !important;
	}

	.responsive-form-element .labelclass + div > .react-datepicker-wrapper {
		width: 70%;
		float: left;
	}

	.react-datepicker-wrapper > .react-datepicker__input-container {
		width: 100%;
	}

	.react-datepicker-wrapper .form-control {
		width: 100%;
		display: inline-block;
	}

	.responsive-form-element .labelclass + .rdt {
		width: 70%;
		float: left;
	}

	.responsive-form-element .labelclass + .Select {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass + .Select-control {
		/*font-weight: 600;*/
		color: #000;
		font-size: 14px;
		border-radius: 0px !important;
		border-color: #ced4da;
	}

	.responsive-form-element .labelclass + .customrichtext {
		float: left;
		width: 70%;
	}

	.responsive-form-element .labelclass {
		font-size: 14px;
		cursor: text;
		margin-bottom: 0px;
		/*font-weight: 600;*/
		float: left;
		width: 30%;
	}

	.responsive-form-element .labelclass + .input-group {
		width: 70%;
	}

	.responsive-form-element .labelclass + .address-container {
		float: left;
		width: 70%;
	}
	
	.responsive-form-element .gs-address-pick {
		position: relative;
		display: inline-block;
		margin-left: 30%;
		top: 5px;
	}

	.gs-list-header-view-wrapper {
		width: 100%;
	}
}

/*  Mobiles (landscape)  */
@media (min-width: 481px) and (max-width: 767px) {
	/*************  affix menu bar *******************/	
	.affixmenubar {
		background-color: #F9F9F9;
		z-index: 5;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/******************** Navbar ************************/

	.navdropdownmenu {
		max-height: 400px;
		overflow-y: scroll;
	}

	.navdropdownmenu::before {
		content: "";
		position: absolute;
		left: 15px;
		top: 26px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}

	.navdropdownmenu-right::before {
		content: "";
		position: absolute;
		left: 15px;
		top: 26px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 8px 8px 10px;
		border-color: transparent transparent #fff transparent;
	}
	
	.custom-nav-link {
		padding: 5px ! important;
	}

	.responsive-form-element .labelclass + .form-control {
		border: none ! important;
		border-radius: 0px !important;
		border-bottom: 1px solid #ced4da ! important;
	}

	.responsive-form-element .labelclass + div > .react-datepicker-wrapper {
		display: block;
	}

	.react-datepicker-wrapper > .react-datepicker__input-container {
		width: 100%;
	}

	.react-datepicker-wrapper .form-control {
		width: 100%;
		display: inline-block;
	}

	.responsive-form-element .labelclass + .rdt > .form-control {
		border: none ! important;
		border-radius: 0px !important;
		border-bottom: 1px solid #ced4da ! important;
	}

	.responsive-form-element .labelclass + div.Select .Select-control {
		/*font-weight: 600;*/
		color: #000;
		font-size: 14px;
		border: none ! important;
		border-radius: 0px !important;
		border-bottom: 1px solid #ced4da ! important;
	}

	.responsive-form-element .labelclass {
		font-size: 14px;
		cursor: text;
		margin-bottom: 3px;
		/*font-weight: 600;*/
	}

	.marginbottom-xs-10 {
		margin-bottom: 10px;
	}

	.gs-text-left-xs {
		text-align: left ! important;
	}

	.gs-list-header-view-wrapper {
		width: 100%;
	}

	.gs-marginbottom-10-xs {
		margin-bottom: 10px;
	}
	
	.responsive-form-element .gs-address-pick {
		margin-top: 5px;
	}

	.gs-user-log-timeline .event:before {	
		left: 0.5px;
		top: 20px;
		min-width: 0;
		font-size: 13px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.marginbottom-xs-10 {
		margin-bottom: 10px;
	}

	.gs-text-left-xs {
		text-align: left ! important;
	}

	.gs-list-header-view-wrapper {
		width: 100%;
	}

	.gs-marginbottom-10-xs {
		margin-bottom: 10px;
	}
	
	.responsive-form-element .gs-address-pick {
		margin-top: 5px;
	}

	.gs-user-log-timeline .event:before {	
		left: 0.5px;
		top: 20px;
		min-width: 0;
		font-size: 13px;
	}
}
